body {
    margin: 0;
    min-height: 100vh;
    max-width: 1024px;
    margin: auto;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
    background-color: rgb(240, 240, 240);
}

header {
    /* background-color: lightblue; */
    /* height: 70px; */
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    /* padding-block: 25px; */
    /* padding-inline: 10px; */
    min-height: 70px;
    text-align: center;
}

nav {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group > * {
    border: 1px solid;
    border-radius: 40px;

}

.phone-topup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.phone-topup * {
    border: none;
}

.phone-topup img {
    width: 30px;
    height: 30px;
}

.button-group > :last-child {
    border: none;
}

.lang-button {
    width: 45px;
}

.prev {
    font-size: 40px;
}

.welcome {
    color: rgb(255, 101, 45);
    font-size: 32px;
    text-align: center;
    margin-top: 60px;
}

.select-header {
    font-size: 40px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 50px;
}

.items-row {
    margin-block: 40px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
}

img {
    width: 100px;
}

header > * {
    width: 100%;
}

.content {
    margin: 12px;
    width: 100px;
    text-align: center;
}